
.dash-container {
    display:flex;
   /* border: 3px solid rgb(187, 183, 183);*/
    border-radius:10px;
    width:95%;
    height:600px;
   /* justify-content:space-between;*/
    margin-left:40px;
    margin-top:65px;

    
}

.dash-left {
    width:20%;
    border: 3px solid rgb(187, 183, 183);
    padding-top:80px;
    padding-left:20px;
    background-color:rgba(14, 117, 185, 0.842);
    text-align: left;
}


.dash-right{
    margin-left:20px;
    width:100%;
    /*border: 3px solid rgb(187, 183, 183);*/
   /* padding-top:80px;*/
    padding-left:20px;
}
.dashDashright {
    margin-left:20px;
    width:350px;
    height:400px;
    border: 3px solid rgb(187, 183, 183);
    padding-top:80px;
    padding-left:20px;
    margin-left:350px;
    margin-top: 80px;
    background-color: rgba(204, 215, 221, 0.904);
}

.dashDashright a {
    text-decoration: none;
    font-size:25px;
    line-height: 2.5em;
    color:rgb(75, 79, 80);
    font-weight: bold;
}



/*Stilizimi i listes se studenteve*/
.dashTab{
    border-collapse: collapse;
    width:100%
}
.dashTab td, .dashtab th{
    border:1px solid rgba(83, 83, 124, 0.5);
    padding:8px;
}

.dashTab tr:nth-child(even){
    background-color:#f2f2f2;
}

.dashTab tr:hover {
    background-color: #ddd;
}
.dashTab th {
padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
.dashTab td{
    font-weight: bold;
    color:#323235e8;
}

.deletebutoni {
    width: 100%;
    background-color: #2f89b3b2;
    color: white;
    padding: 14px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.dashText{
    color: #ECECF6;
    text-shadow: -1px -1px 1px #FFFFFF, 1px 1px 1px #000000;
    font-size: 50px;
    padding-top:30px;
    padding-left: 30px;
}
/*
.dashLink {
    background-color: #5455579a;
    color:white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
}*/

.dash-left a {
    display:inline;
    font-size: 25px;
    /*background-color: #7696d89a;*/
    padding: 14px 25px;
    display:inline-block;
    color:rgba(248, 248, 248, 0.747);
    text-decoration: none;
}
.dash-left a:hover {
    text-decoration: underline;
}
.backbtn{
    width: 25%;
    background-color: #2f89b3b2;
    color: white;
    padding: 14px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.backbtn a {
    text-decoration: none;
    font-size:20px;
    font-weight: bold;
}



