
.upperMain {
    display:flex;
    flex-direction:column;
    
    justify-content: center;
    margin:80px;
    
    
}

.upper-UpperMain{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding-bottom: 75px; /*Me largu pak vijen e poshtme*/
    
}
.upper-UpperMain img {
    width:150px;
}
.upper-UpperMain img:hover {
    /*width:120px;*/
    transform: scale(0.9); 
    /*Per sa me transformu, me rrit imazhin. 
    Nese esht 1 nuk ndryshon fare, mbi nje rritet, nen 1
    zvogelohet*/
    transition: transform .3s;  /*Shpejtesia e rritjes*/
}

#mendeley {
    width:120px;
     /*Kta e kom bo tveqant, seplse by default ka qene pak me e 
     madhe se tjerat*/
}

.bottom-border{
    border-bottom: 1px solid rgb(208 208 214 / 45%);
    box-shadow: 5px 5px 5px rgb(66 64 72 / 39%);
    
    
}

/*Down upperMain*/
.down-UpperMain {
    display:flex;
    flex-direction: column;
    /* justify-content:center; */
    margin:50px;
    padding:10px;
    
    
}
.down-UpperMain h1 {
    text-align:center;
    color:rgba(45, 13, 184, 0.726);
}
.sub-downUpperMain{
    display:flex;
    justify-content:space-between;
    margin:120px;
    text-align: center;
}

.sub-items h3 {
    color:rgba(107, 106, 104, 0.712);
}

/*Mid Main*/
.midMain {
    background-color: rgba(157, 179, 219, 0.658);
    height:500px;
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    
}

.midMain-text {
    /* padding-left: 30px; */
    color:rgba(16, 6, 104, 0.637);
    font-size:larger;
    
}
.midMain img{
    width:35%;
    
}

/*downMain*/
.downMain {
    display:flex;
    flex-direction:column;
    margin-top: 200px;
}

.upper-downMain {
    
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    /*e ben pershkallzimin e ngjyrave te cekura, prej te majtes te e djathta*/
    background-image: linear-gradient(to right, rgba(200, 210, 233, 0.315),
     rgba(184, 204, 223, 0.281), rgba(1200, 210, 233));
    box-shadow:20px 20px 20px rgba(208, 171, 219, 0.342);
    
     
}

.down-downMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 150px;
    
    
}
/* .first-down-downMain {


} */


.second-down-downMain {
   display:flex;
   align-items: flex-end;
   justify-content: flex-end;
   padding-top: 50px;
   

}
.second-down-downMain img{
    width:150px;
    padding-left:40px;
}

.bottomMain {
    display:flex;
    padding-top:150px;
    padding-bottom: 150px;
    justify-content: space-around;
    background-color:rgba(192, 188, 180, 0.37);
}




