
#header {
    background-image: url(../Photos/firstiiCop.jpeg);
    position:relative;
    background-repeat:no-repeat;
    background-size:cover; 
    height:500px;
    opacity:0.99;
    
}
.innerBackimg  h1{
    color: white;
    font-size: 50px;
    font-family:'Raleway', sans-serif;;
    font-weight: bold;
    padding-top:367px;
    padding-left: 320px; 
    position: absolute;
    text-shadow: h-shadow v-shadow blur-radius color ;
}









