/* Pjesa e slider/
#header {
    background-image: url(../Photos/firstiiCop.jpeg);
    /*position:relative;/
    background-repeat:no-repeat;
    background-size:cover;
    box-shadow:5px 10px 5px rgba(108, 130, 228, 0.5);
    height:500px;
    opacity:0.99;
    
}
.innerBackimg  h1{
    color: white;
    font-size: 50px;
    font-weight: bold;
    padding-top:190px;
    padding-left: 35px; 
    position: absolute;
    

}
.innerBackimg  h1:hover {
    /* text-shadow: h-shadow v-shadow blur-radius color /
    text-shadow: 1px 1px 2px black, 0 0 25px rgba(251, 248, 252, 0.938), 0 0 5px rgba(241, 241, 241, 0.918);
}*/

#header {
    background-image: url(../Photos/firstiiCop.jpeg);
    position:relative;
    background-repeat:no-repeat;
    background-size:cover; 
    height:500px;
    opacity:0.99;
    
}
.innerBackimg  h1{
    color: white;
    font-size: 50px;
    font-family:'Raleway', sans-serif;;
    font-weight: bold;
    padding-top:367px;
    padding-left: 320px; 
    position: absolute;
    text-shadow: h-shadow v-shadow blur-radius color ;
}









