
.upperMain {
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin:80px;
    margin-bottom: 0px;
}

.upper-UpperMain{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding-bottom: 75px;
}
.upper-UpperMain img {
    width:150px;
}
.upper-UpperMain img:hover {
    transform: scale(0.8); 
    transition: transform .5s;  
}

#mendeley {
    width:120px;
}

.bottom-border{
    border-bottom: 1px solid white;
}

/*Down upperMain*/
.down-UpperMain {
    display:flex;
    flex-direction: column;
    margin:50px;
    padding:10px;
}
.down-UpperMain h1 {
    text-align:center;
    color:rgba(45, 13, 184, 0.726);
}
.sub-downUpperMain{
    display:flex;
    justify-content:space-between;
    margin:120px;
    text-align: center;
}


.sub-items h3 {
    color:rgba(45, 13, 184, 0.726);
}

/*Mid Main*/
.midMain {
    background-color: #71c2f4;
    height:500px;
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    
}

.midMain-text {
    /* padding-left: 30px; */
    color:rgba(16, 6, 104, 0.637);
    font-size:larger;
    
}
.midMain img{
    width:35%;
    
}

/*downMain*/
.downMain {
    display:flex;
    flex-direction:column;
}

.upper-downMain {
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    background-image: linear-gradient(to right, #89cff0, #71c2f4, #60b3f7, #5ca3f7, #6691f4);
}

.down-downMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 150px;
    
    
}
/* .first-down-downMain {


} */


.second-down-downMain {
   display:flex;
   align-items: flex-end;
   justify-content: flex-end;
   padding-top: 50px;
   

}
.second-down-downMain img{
    width:150px;
    padding-left:40px;
}

.bottomMain {
    display:flex;
    padding-top:150px;
    padding-bottom: 150px;
    justify-content: space-around;
    background-color:#71c2f4;
}

.transform{
    color:rgb(210, 240, 255);
}





