*{
    margin:0;
    padding:0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
body {
    background-color:rgba(202, 192, 165, 0.603);
   
}

.navBar {
    
 /*   background-image: linear-gradient(to right, rgba(168, 166, 197, 0.829), rgba(6, 21, 160, 0.856), rgba(152, 157, 219, 0.795));*/
    background-color:rgb(6, 6, 95);
    display:flex;
    flex-direction: row;
    height:85px;
    /*transition: width 3s;/*
    border-color: rgb(196, 196, 189);
    box-shadow:5px 10px 5px rgba(182, 163, 163, 0.2);*/
    
}
.navBar:hover{
    transition: width 0.8s;
    height:100px;
    background-color:rgb(255, 255, 255);
    color:blue;
   /* background-image: linear-gradient(to right, rgba(254, 254, 255, 0.829), rgba(255, 255, 255, 0.849), rgba(255, 255, 255, 0.795));*/
    /*overflow:hidden*/
}


.navFillim {
    flex:1;
    justify-content:flex-start;
    align-items: flex-start;
   
}
.navFund {
    flex:1;
    justify-content:flex-end;
   
}
.navList{
    display:flex;
    flex-direction:row; /*sie bone si se bone */
    justify-content: flex-end; /*e qon listen ne te djatht te ekranit*/
    
    
    
    
}
#home{
    /*background-image: linear-gradient(to right, rgba(254, 254, 255, 0.829), rgba(255, 255, 255, 0.849), rgba(255, 255, 255, 0.795));*/
    background-color:rgba(255, 255, 255, 0.938);
}

#aboutUs {
    /*Rrin i bardhe butoni i  aboutus kur jemi ne ate faqe*/
    background-color:rgba(255, 255, 255, 0.938);
}


.navList li {
     list-style-type: none; /*largon bullets */
    /* border: 1px solid none;  */
    height: 85px; /*lartesia e "butonit" te listes*/
    width:90px; /*gjeresia e listes*/
    text-align:center; /*vendos txt ne mes*/
    /*margin:0;
    padding:0;  */
   

}
.navList li a{
    text-decoration: none;  
    color:rgba(17, 124, 167, 0.753);
    font-size: 120%;
    width:100%;
    font-weight: bold;
   
}
#logo {
    
    width: 20%;
    
}
.navList li:hover {
    background-color:rgba(161, 150, 160, 0.452);
    height:100px;
    
}
#ul2 a:hover{
    color:rgba(57, 9, 190, 0.74)
}




  
  